<div class="container">

  <div class="grouped-dashboard">

      <!-- Card 1 - Swapzi Score Card -->
      <div class="dashboard-card dashboard-card-1">
          <div class="dashboard-card-header">
              <h4>Swapzi Score</h4>
          </div>
          <div class="dashboard-card-content swapzi-display-score">
              <p class="text-center"><%= current_user.swapzi_score %></p>
          </div>
          <div class="dashboard-card-content">
              <%= link_to "Find out more about Swapzi points", about_points_path, class: "btn-orange" %>
          </div>
      </div>

      <div class="vertical-separator"></div>

      <!-- Card 2 - Empty -->
      <div class="dashboard-card">

      </div>

      <div class="vertical-separator"></div>

      <!-- Card 3 - Achievements Card -->
      <div class="dashboard-card">
          <div class="dashboard-card-header">
              <h4 class="text-center">Achievements</h4>
          </div>
          <div class="row row-cols-5 g-3 mt-1">
              <% @achievements.each do |a| %>
                  <div class="col">
                      <div class="d-flex justify-content-around align-items-center">
                          <div class="achievement-wrapper">
                              <%= image_tag a.photo, class: "ach-icon #{'accomplished' if a.completed_by?(current_user)}", alt: "Achievement Icon" %>
                              <div class="ach-description hidden"><%= a.description %></div>
                          </div>
                      </div>
                  </div>
              <% end %>
          </div>
      </div>

  </div>

  <div class="card-row">


  <% unless @open_swapz.empty? %>
      <hr>
      <div class="my-4 d-flex justify-content-around align-items-center">
          <div class="d-flex">
              <h4 class="my-auto me-3">People want to swap with you!</h4>
              <%= link_to "Open swapz", swaps_path(page: 'pending'), class: "btn btn-outline-dark rounded-pill" %>
          </div>
      </div>
      <hr>
  <% end %>

  <% unless @recent_favourites.empty? %>
      <div class="mt-4">
          <h4>Most recent favourites</h4>
          <% @items = @recent_favourites.map(&:item) %>
          <%= render "items/item_card_grid" %>
      </div>
  <% end %>

  <% unless @recent_items_browsed.empty? %>
      <div class="mt-4">
          <h4>Recently browsed items</h4>
          <% @items = @recent_items_browsed.select { |item| item.hidden == false } %>
          <%= render "items/item_card_grid" %>
      </div>
  <% end %>

  <div class="mt-4">

      <h4>Check out these available items</h4>
      <% @items = @item_suggestions %>

      <%= render "items/item_card_grid" %>
  </div>

</div>
