<div class="container">

  <div class="mt-4">
    <h4>Edit Your Profile</h4>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-gradient" %>
  </div>

<!-- <div class="user-profile">
  <% if current_user.photo.attached? %>
    <%= image_tag current_user.photo, class: "profile-image" %>
  <% end %>
</div> --> 

  <div class="mt-4">
    <h4>Your Items on the Platform</h4>

    <% if @all_items.any? %>
      <div class="row">
        <% @all_items.each do |item| %>
          <div class="col-md-3">
            <%= link_to item_path(item) do %>
              <%= image_tag item.photo, class: "item-image img-fluid" %>
              <p class="item-name btn-gradient text-center mt-2"><%= item.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>You don't have any items yet.</p>
      <%= link_to "Add New Item", new_item_path, class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
