<div class="col h-100">
  <div class="card item-card">
    <%= image_tag(@item.photo, class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"><%= @item.name %></h5>
      <p class="card-text"><%= @item.description %></p>
    </div>
    <ul class="list-group list-group-flush no-border-top">
      <li class="list-group-item text-muted"><%= @item.category %></li>
    </ul>
    <div class="card-footer">
      <p class="my-auto text-end"><strong><%= @item.swapzi_points %></strong> Swapzi Points</p>
    </div>
  </div>
</div>
