<div class="card swap-pending-card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <% if @item.photo.attached? %>
        <%= image_tag(@item.photo, class: "card-img-top") %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-header"><%= @header %></div>
      <div class="card-body">
        <h5 class="card-title"><%= @item.name %></h5>
      </div>
      <ul class="list-group list-group-flush no-border-top">
        <li class="list-group-item text-muted"><%= @item.user.location %></li>
      </ul>
      <div class="card-footer text-end">
        
        <%# COMMENT START %>
        <% if false %>
        <%# render relevant buttons for each card %>
        <% @origin = "swap_pending" %>
        <%= render "shared/swap_pending_buttons" %>
        <% end %>
        <%# COMMENT END %>
      
        <p class="my-auto"><strong><%= @item.swapzi_points %></strong> Swapzi Points</p>
      </div>
    </div>
  </div>
</div>
