<div class="container">

  <div class="container item-show-container d-flex justify-content-between">
      <div class = "item-show-card">
      <%= image_tag(@item.photo, class: "card-img-top") %>
      <h1><%= @item.name %></h1>
          <div>
          <h5>Description:</h5>
              <%= @item.description%>
          </div>
          <div>
          <p> This Item is worth: <%= @item.swapzi_points %> Swapzi Points!</p>
          </div>
      </div>
      <div class="suggestions-box">
      <h5>Suggested for you:</h5>
      <% @random_items.each do|random_item| %>
          <div class = "suggestions-card">
          <h5><%= random_item.name %></h5>
          <p> Swapzi Points: <%= random_item.swapzi_points%></p>
          </div>
      <% end %>
      </div>
  </div>
  <div class="container item-show-container">
    <div class="comments-section">
      <h2>Item Comments</h2>
    </div>


    <%= link_to "swap", new_item_swap_path(@item, page: 'new_swap'), class: "btn btn-primary" %>
  </div>

</div>
