<div class="container">

  <div class="item-show-container">
    
    <div class="show-page-img">
      <% if @item.photo.attached? %>
        <%= image_tag(@item.photo, class: "card-img-top") %>
      <% end %>

      <span class="mb-0 px-3 show-swapzi-points"><%= @item.swapzi_points %> Swapzi Points</span>
    </div>

    <div class="item-show-details mx-4">
      <div class="mb-4 d-flex justify-content-between align-items-center">
        <h1 class="mb-0"><%= @item.name %></h1>
        
      </div>
      
      <% unless @item.user == current_user %>
        <h4 class="mb-3"><%= @item.user.username %> in <%= @item.user.location %></h4>
      <% end %>
      <p class="mb-5"><%= @item.description%></p>
      
      <div class="container item-show-actions p-0">

        <% unless @item.user == current_user %>
          <%= link_to "Choose an item to swap", new_item_swap_path(@item, page: 'new_swap'), id: "show-button", class: "btn btn-outline-primary rounded-pill" %>

          <div class="mt-4">
            <%= turbo_frame_tag "fav-button" do %>
              <%= render 'favourites/fav_button' %>
            <% end %>
          </div>


        <% end %>

        <%# <div class="container item-show-container">
          <div class="comments-section">
            <h2>Item Comments</h2>
          </div>
        </div> %>

      </div>
    </div>
  </div>
    
    
   <% unless @item.user == current_user %> 
    <div class="suggestions-box">
      <h2 class="mt-5 mb-4">Check out <%= @item.user.username %>'s other items</h2>
      <div class="card-group">
        <% @items = @random_items %>
        <%= render "items/item_card_grid" %>
      </div>
    </div>
  <% end %>

</div>
