<div class="container d-flex justify-content-between">
    <div class = "item-show-card">
    <%= image_tag("ruler.jpg", class: 'card-img-top') %>
    <h1><%= @item.name %></h1>
        <div>
        <h5>Description:</h5>
            <%= @item.description%>
        </div>
        <div>
        <p> This Item is worth: <%= @item.swapzi_points %> Swapzi Points!</p>
          <div class = "fav-btn">
            <% if current_user.favourites.exists?(item: @item) %>
              <% @favourite_id = current_user.favourites.find_by(item: @item) %>
                <%= button_to "Unfavourite", item_favourite_path(@item, fav_id: @favourite_id), method: :delete, data: {turbo_method: :delete} %>
            <% else %>
                <%= button_to "Favorite", item_favourite_path(@item), method: :post %>
            <% end %>
          </div>
        </div>
    </div>
    <div class="suggestions-box">
    <h5>Suggested for you:</h5>
    <% @random_items.each do|random_item| %>
        <div class = "suggestions-card">
        <h5><%= random_item.name %></h5>
        <p> Swapzi Points: <%= random_item.swapzi_points%></p>
        </div>
    <% end %>
    </div>
</div>
<div class="container">
  <div class="comments-section">
    <h2>Item Comments</h2>
  </div>
</div>
<div>
  <% if current_user.favourites.exists?(item: @item) %>
    <% @favourite_id = current_user.favourites.find_by(item: @item) %>
      <%= button_to "Unfavourite", item_favourite_path(@item, fav_id: @favourite_id), method: :delete, data: {turbo_method: :delete} %>
  <% else %>
      <%= button_to "Favorite", item_favourite_path(@item), method: :post %>
  <% end %>
</div>