<div>
  <h4><%= @header %></h4>
    <div class="open-card">
        <div class="row g-0">
            <div class="col-md-4">
                <% if @item.photo.attached? %>
                    <%= image_tag(@item.photo, class: "open-pic") %>
                <% end %>
            </div>
            <div class="col-md-8">
                <div class="open-card-info-box">

                    <div  class="card-title">
                        <h5><%= @item.name %></h5>
                    </div>

                    <div class="location">
                        <p><%=@item.user.location %></p>
                    </div>

                    <div class="open-card-points">
                        <p>Swapzi Points: <%= @item.swapzi_points %></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
