<div class="container">

  <h1 class="my-4">Open swapz</h1>

  <% @swaps.each do |swap| %>

    <% if swap.user_1 == @user %>
      <% @user_item = swap.item_1 %>
      <% @other_item = swap.item_2 %>
    <% else %>
      <% @user_item = swap.item_2 %>
      <% @other_item = swap.item_1 %>
    <% end %>

    <div class="container p-0">

      <br>

      <h4><small>Your</small> <strong><%= @user_item.name %></strong> <small>for <%= @other_item.user.username %>'s</small> <strong><%= @other_item.name %></strong></h4>

      <br>

      <div class="swap-card-container">
        <% @item = @user_item %>
        <% @header = "Your item" %>
        <%= render "shared/swap_card" %>

        <% @item = @other_item %>
        <% @header = "#{@other_item.user.username}'s item" %>
        <%= render "shared/swap_card" %>
      </div>

    </div>
    <hr>
  <% end %>

</div>
