<div class="container swap-show-container">

  <%# set @item for current user %>
  <% @user_item = @swap.item_1.user == @user ? @swap.item_1 : @swap.item_2 %>

  <%# set @item for other user %>
  <% @other_item = @swap.item_1 == @user_item ? @swap.item_2 : @swap.item_1 %>

  <div class="container swap-container">

    <% @item = @user_item %>
    <div class="container h-100">
      <%= render "shared/swap_show_page_card" %>
    </div>

    <div><%= image_tag("logo-draft.png", class: "swap-logo") %></div>

    <% @item = @other_item %>
    <div class="container h-100">
      <%= render "shared/swap_show_page_card" %>
    </div>

  </div>

  <% @origin = "swap_show" %>

  <div data-controller="completed-button" data-completed-button-updated-value=<%= @swap.item_1.user == @user ? @swap.completed_user_1 == true : @swap.completed_user_2 == true %>>
    <%= button_to "Mark swap as completed", swap_path(@swap, is_user_1: @swap.item_1.user == @user, completed: true, origin: @origin), class: "btn btn-success rounded-pill", method: :patch, data: { completed_button_target: "button", action: "completed-button#submit", turbo_method: :patch, turbo_confirm: "Mark swap as completed?" } %>
  </div>

</div>
